<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.mappers.AccountMapper">
    <resultMap type="Account" id="AccountResult">
        <id property="accountId" column="account_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="findAllAccounts" resultMap="AccountResult">
        SELECT account_id, first_name, last_name, email, password
        FROM account
    </select>

    <select id="findAccountById" parameterType="int" resultMap="AccountResult">
        SELECT account_id, first_name, last_name, email, password
        FROM account
        WHERE account_id=#{id}
    </select>

    <insert id="insertAccount" parameterType="Account" useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO Account(first_name, last_name, email, password)
        VALUES(#{firstName},#{lastName},#{email},#{password})
        RETURNING account_id
    </insert>
</mapper>